<%- include("./modules/header.ejs") %>

    <div class="container-fluid">
        <div class="main Registration">
            <h2>Login</h2>
            <form method="post" action="/tasks/login">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required />

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required />

                <button type="submit" class="addUser">
                    Login
                </button>
            </form>
        </div>
    </div>
    </body>

    </html>